body {
  height: 100%;
  padding-top: 0;
  font-family: "Asap", sans-serif;
  background-color: #fafafa;
  line-height: 1.4;
  font-size: 17px;
}

:root {
  --color-primary: #aa1945;
  --color-secondary: #f15a28;
  --color-accent: #009688;
  --text-color: #6c757d;
  --navbar-logo-width: 200px;
  --navbar-hover: var(--color-secondary);
  --font-family-secondary: "Borel", cursive;
  --font-family-primary: "Asap", sans-serif;
}

.contenedor {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  /* Asigna proporciones para cada sección */
  height: 100vh;
  /* Usa el 100% del alto de la ventana */
  align-items: center;
}

.navbar {
  --bs-navbar-hover-color: var(--navbar-hover);
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.enlace-hover {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

.enlace-hover:hover,
.enlace-hover:focus {
  /*:focus para accesibilidad */
  color: var(--navbar-hover);
}

.logo-grande {
  width: var(--navbar-logo-width);
  height: auto;
  transition: width 0.3s ease;
}

.logo-chico {
  display: none;
  width: 100px;
  height: auto;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 6% 21% 2% 21%;
}

#title {
  font-family: var(--font-family-secondary);
  text-align: center;
  color: var(--color-primary);
  font-size: 40px;
  margin: 1rem 0 0 0;
}

#sub {
  text-align: center;
  font-style: italic;
  line-height: 1.2;
  font-size: 21px;
  margin: 0;
}

.divider {
  display: flex;
  align-items: center;
  color: var(--color-secondary);
  /* Color de las figuras */
  font-size: 18px;
  /* Tamaño de las figuras */
  position: relative;
  margin-bottom: 2%;
}

#intro {
  margin-top: 2%;
}

h4 {
  margin-top: 2%;
}

main p {
  text-align: justify;
}

ol {
  padding-left: 0rem;
}
ul {
  padding-left: 0rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: 90%;
}

.card-header {
  min-height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-header h5 {
  margin-bottom: 0;
  text-align: center;
  width: 100%;
}

.card-body {
  flex-grow: 1;
  font-size: 16px;
}

.btn {
  --bs-btn-bg: #009688;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: #f15a28;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-font-size: 18px;
}

footer {
  display: flex;
  justify-content: space-around;
  min-height: 10vh; /* Ensure footer has enough height for consistent layout and to accommodate footer content */
}

footer p {
  margin-top: auto;
  font-size: 15px;
  color: var(--text-color);
}

footer a {
  color: var(--color-primary);
  text-decoration: none;
}

@media (max-width: 768px) {
  /* Tablet → móvil */
  .logo-grande {
    display: none;
  }
  .logo-chico {
    display: block;
    width: 100px; /* Tamaño base para móviles */
  }

  #title {
    text-align: center;
    font-size: 25px;
  }

  #sub {
    line-height: 0.5;
    font-size: 15px;
  }

  main {
    margin: 6% 10% 3% 10%;
  }

  h2 {
    font-size: small;
  }

  .divider {
    display: flex;
    align-items: center;
    color: #f15a28;
    font-size: 12px;
    position: relative;
    margin-bottom: 2%;
  }

  main p {
    font-size: small;
  }

  .card {
    margin-bottom: 1rem; /* Espacio entre cards en móvil */
  }

  footer {
    text-align: center;
    font-size: x-small;
  }
}

@media (max-width: 480px) {
  /* Móviles pequeños */
  .logo-chico {
    width: 80px; /* Ajuste extra para pantallas < 480px */
  }
}
