/* Estilos generales */
html,
body {
  height: 100%;
  padding-top: 0;
  font-family: 'Karla', sans-serif;
}

body {
  background-color: #fafafa;
}

/* Contenedor principal */
.contenedor {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  height: 100vh;
  align-items: center;
}

/* Navbar y logos */
.navbar {
  --bs-navbar-hover-color: #f15a28;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

a {
  text-decoration: none;
}

.logo-chico {
  display: none;
}

.logo-grande {
  width: 200px;
}

/* Estilos de main */
main {
  display: flex;
  flex-direction: column;
  margin: 6% 21% 3% 21%;
}

main #protected-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main #protected-content img {
  width: 350px;
}

main #password-protect h2 {
  text-align: center;
  font-style: normal;
  font-size: 22px;
  margin-bottom: 0%;
}

#protected-content h2 {
  text-align: center;
  font-style: italic;
  font-size: 22px;
  margin-bottom: 0%;
}

main p {
  text-align: center;
  font-size: 17px;
  line-height: 1.6;
}

/* Formularios y botones */
.form-control {
  text-align: center;
}

.btn {
  --bs-btn-bg: #009688;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: #f15a28;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-font-size: 18px;
}

/* Divider */
.divider {
  display: flex;
  justify-content: center;
  color: #f15a28;
  font-size: 18px;
  position: relative;
  margin-bottom: 2%;
}

/* Footer */
footer {
  width: 100%;
  text-align: center;
  font-size: 15px;
}

/* Media queries */
@media (max-width: 768px) {
  .contenedor {
    grid-template-rows: 1fr 1fr 1fr;
  }

  .logo-grande {
    display: none;
  }

  .logo-chico {
    display: block;
    width: 100px;
  }

  main {
    margin: 5% 10% 5% 10%;
  }

  main img {
    width: 250px;
  }

  h2 {
    font-size: small;
  }

  .divider {
    align-items: center;
    font-size: 12px;
    margin-bottom: 2%;
  }

  main p {
    font-size: small;
    line-height: 1.4;
  }

  footer {
    font-size: x-small;
  }
}
