/* Estilos generales */
body {
  height: 100%;
  padding-top: 0;
  font-family: 'Karla', sans-serif;
  background-color: #fafafa;
  line-height: 1.4;
  font-size: 17px;
}

/* Contenedor principal */
.contenedor {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* Cambiado para ajustar según el contenido */
  min-height: 100vh;
  align-items: center;
}

/* Navbar y logos */
.navbar {
  --bs-navbar-hover-color: #f15a28;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #009688;
}

a {
  text-decoration: none;
  color: #aa1945;
}

.enlace-hover {
  color: #aa1945;
  text-decoration: none;
}

.enlace-hover:hover {
  color: #f15a28;
  text-decoration: none;
}


.logo-chico {
  display: none;
}

.logo-grande {
  width: 200px;
}


/* Estilos de main */
main {
  display: flex;
  flex-direction: column;
  margin: 6% 15% 3% 15%;
  justify-content: center;
}


main .accordion p {
  text-align: left;
}

main #protected-content img {
  max-width: 350px;
  height: auto;
  display: block;
  margin: 0 auto;
}

main #password-protect {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30vh;
}

main #password-protect .row {
  width: 100%;
  /* Opcional: para que las filas internas ocupen el ancho completo del contenedor */
}

main #aclaracion {
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
}

#protected-content h5 {
  text-align: center;
  font-style: italic;
  margin-bottom: 0%;
}

#collapseThree {
  min-height: auto;
}

main p {
  text-align: justify;
}

.subtitle {
  font-weight: bold;
}

/* Formularios y botones */
.form-control {
  text-align: center;
}

.btn {
  --bs-btn-bg: #009688;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: #f15a28;
  --bs-btn-hover-border-color: transparent;
}

.accordion {
  --bs-accordion-active-color: #fff;
  --bs-accordion-active-bg: #009688;
}

/* Divider */
.divider {
  display: flex;
  justify-content: center;
  color: #f15a28;
  position: relative;
  margin-bottom: 2%;
}

/* Footer */
footer {
  width: 100%;
  text-align: center;
  font-size: 15px;
}

/* Media queries */
@media (max-width: 768px) {
  .contenedor {
    grid-template-rows: auto 1fr auto;
    /* Cambiado para ajustar según el contenido */
  }

  .logo-grande {
    display: none;
  }

  .logo-chico {
    display: block;
    width: 100px;
  }

  main {
    margin: 5% 10% 5% 10%;
  }

  main img {
    width: 250px;
  }

  h2 {
    font-size: small;
  }

  .divider {
    align-items: center;
    font-size: 12px;
    margin-bottom: 2%;
  }

  main p {
    font-size: small;
    line-height: 1.4;
  }

  footer {
    font-size: x-small;
  }
}