body {
  height: 100%;
  padding-top: 0;
  font-family: "Asap", sans-serif;
  background-color: #fafafa;
  line-height: 1.4;
  font-size: 17px;
  text-decoration: none;
}

:root {
  --color-primary: #aa1945;
  --color-secondary: #f15a28;
  --color-accent: #009688;
  --text-color: #6c757d;
  --navbar-logo-width: 200px;
  --navbar-hover: var(--color-secondary);
  --font-family-secondary: "Borel", cursive;
  --font-family-primary: "Asap", sans-serif;
  --main-text-align: justify;
}

.contenedor {
  display: grid;
  grid-template-rows: auto 1fr auto;
  /* Asigna proporciones para cada sección */
  height: 100vh;
  /* Usa el 100% del alto de la ventana */
  align-items: center;
}

/* Bootstrap define las variables para la barra de navegación con prefijos y configuraciones de Sass como --#{$prefix}navbar-padding-x donde El #{$prefix} es un placeholder de Sass que generalmente se traduce en --bs-, el prefijo predeterminado en Bootstrap.
Por ejemplo, --#{$prefix}navbar-padding-x en realidad es --bs-navbar-padding-x. */

.navbar {
  --bs-navbar-hover-color: var(--navbar-hover);
  --bs-navbar-padding-y: 0;
}

.navbar-nav {
  --bs-navbar: navbar-right;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--color-accent);
  --bs-dropdown-link-hover-color: var(--color-secondary);
}

.enlace-hover {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

.enlace-hover:hover,
.enlace-hover:focus {
  /*:focus para accesibilidad */
  color: var(--navbar-hover);
}

.logo-grande {
  width: var(--navbar-logo-width);
  height: auto;
  transition: width 0.3s ease;
}

.logo-chico {
  display: none;
  width: 100px;
  height: auto;
  transition: width 0.3s ease;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 6% 21% 2% 21%;
}

main img {
  width: 400px;
  align-content: center;
}

#sub {
  text-align: center;
  font-style: italic;
  line-height: 1;
  font-size: 21px;
  margin: -0.2rem 0 0 0;
}

.divider {
  text-align: center; /* Centra la línea */
  margin: 0 0 40px 0;
}

.linea-oleo {
  height: 1em; /* 60% del tamaño del subtítulo */
  width: 85%; /* Controla el ancho (o usa 100% para ocupar todo el contenedor) */
  margin: 5px auto; 
  display: block;
  opacity: 0.8;
  transition: all 0.3s ease; /* Para efectos hover */
}

/* Efecto al pasar el mouse */
.linea-oleo:hover {
  opacity: 1;
  transform: scaleY(1.05); /* Ligero crecimiento vertical */
}

main p {
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-around;
  min-height: 10vh; /* Ensure footer has enough height for consistent layout and to accommodate footer content */
  margin: auto 21% auto 21%;
  text-align: center;
}

footer p {
  margin-top: auto;
  font-size: 15px;
  color: var(--text-color);
}

footer a {
  color: var(--color-primary);
  text-decoration: none;
}

footer a:hover {
  color: var(--color-secondary);
}

@media (max-width: 768px) {
  body {
    font-size: 13px;
  }
  .contenedor {
    grid-template-rows: 50px auto 50px;
  }

  .logo-grande {
    display: none;
  }
  .logo-chico {
    display: block;
  }

  .navbar-nav {
    align-items: flex-end;
  }

  .dropdown-menu {
    --bs-dropdown-font-size: 13px;
  }

  main {
    margin: 4% 10% 3% 10%;
  }

  main img {
    width: 250px;
  }

  #sub {
    font-size: 15px;
  }

  .divider {
    display: flex;
    align-items: center;
    color: var(--color-secondary);
    font-size: 12px;
    position: relative;
  }

  footer {
    margin: auto 10% auto 10%;
  }

  footer p {
    font-size: x-small;
    min-height: 50px;
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  /* Móviles pequeños */
  .logo-chico {
    width: 80px; /* Ajuste extra para pantallas < 480px */
  }
}
